*
  {
    margin: 0;
  }

body
  {
    font-family: Arial, Verdana, sans-serif;
  }

.head
  {
    width: 100%;
    background-color: black;
    height: 3rem;
  }

.logo
  {
    color: #fff;
    float: left;
    text-transform: uppercase;
    font-size: 0.75rem;
    margin: 1rem 0 0 0;
  }

.on
  {
    color: #24ba9f;
    font-weight: 700;
  }

.first-list li
  {
    float: right;
    list-style-type: none;
    margin: 1rem 0 0 0.6rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
  }

.first-list li a
  {
    text-decoration: none;
    color: #fff;
  }


/* section 1 */

.container
  {
    width: 100%;
    height: 31rem;
    position: relative;

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(209,208,216,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(209,208,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d0d8', GradientType=0 );

  }

.arrows
  {
      width: 1rem;
      height: 1rem;
      border-color: #000;
  }

.prev
  {
      border-bottom: 0.37rem solid #24ba9f;
      border-left: 0.37rem solid #24ba9f;
      transform: rotate(45deg);
      position: absolute;
      left: 5%;
      top: 22%;
  }

.next
  {
      border-bottom: 0.37rem solid #24ba9f;
      border-left: 0.37rem solid #24ba9f;
      transform: rotate(-135deg);
      position: absolute;
      right: 5%;
      top: 22%;
  }

.image1
  {
    width: 17.5rem;
    height: 15rem;
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }

.text-block
    {
      width: 15.5rem;
      text-align: center;
      margin: 0 auto;
    }

h2
    {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 300;
    }

.on2
    {
      font-weight: 700;
      color: #24ba9f;
    }

.text1
    {
      margin: 1.5rem 0 3.1rem 0;
      font-size: 0.7rem;
      line-height: 1.2rem;
      text-align: justify;
    }

.more
    {
      text-decoration: none;
      text-transform: uppercase;
      background-color: #24ba9f;
      padding: 0.8rem 1.5rem 0.8rem 1.5rem;
      border-radius: 8%;
      color: #fff;
    }


/* section 2 */

.container2
    {
      width: 100%;
      margin: 1.875rem 0 1rem 0;
    }

.transparent1
    {
      position: relative;
    }

.transparent2
    {
      position: relative;
    }

.image-block1
    {
      width: 17.5rem;
      height: 15.6rem;
      background-image: url("../images/box1_img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 0.1rem solid #d9d9d9;
      position: relative;
      box-sizing: border-box;
      margin: 0 auto;
    }

.image-block2
    {
      width: 17.5rem;
      height: 15.6rem;
      background-image: url("../images/box2_img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 0.1rem solid #d9d9d9;
      position: relative;
      margin: 1rem auto 0 auto;
      box-sizing: border-box;
    }

.alpha1, .alpha2
    {
      background: rgba(255, 255, 255, 0.4);
      color: #000;
      height: 2.8rem;
      margin: 10.3rem 0 0 0;
      padding: 0.9rem 0 0 1.9rem;
    }

.transparent-line1, .transparent-line2
    {
        background-color: #24ba9f;
        height: 0.375rem;
        border: none;
        position: absolute;
        bottom: 17%;
        left: 7%;
    }

.transparent-line1
    {
        width: 50%;
    }

.transparent-line2
    {
        width: 60%;
    }

.upper
    {
      text-transform: uppercase;
    }

.text3-block
    {
      width: 17.5rem;
      border: 0.1rem solid #d9d9d9;
      margin: 1rem auto 0 auto;
      box-sizing: border-box;
      text-align: justify;
      padding: 0 0 1rem 0;
    }

h4
    {
      margin: 1.9rem 0 0 1.25rem;
    }

.line1
    {
      width: 45%;
      margin: 0.2rem 0 0 1.25rem;
      background-color: #24ba9f;
      height: 0.38rem;
      border: none;
    }

.text2
    {
      margin: 1.25rem 1.6rem 0 1.25rem;
      font-size: 0.9rem;
    }

/* section 3 */

.container3
    {
      width: 100%;
      background-color: #f1f1f1;
    }

h3
    {
      text-transform: uppercase;
      padding: 2.8rem 0 0 1.5rem;
      font-weight: 500;
    }

.line2
    {
      width: 40%;
      margin: 0.3rem 0 0 1.5rem;
      background-color: #24ba9f;
      height: 0.375rem;
      border: none;
    }

/* Basic plan */

.pricing-table1
    {
      box-sizing: border-box;
      border: 0.125rem solid #d9d9d9;
      list-style-type: none;
      width: 17.5rem;
      margin: 4rem auto 0 auto;
      position: relative;
    }

.table1-first-circ
    {
      width: 1.6rem;
      height: 1.6rem;
      background-color: #c2c2c2;
      position: absolute;
      top: -3.2%;
      left: 44.2%;
      border-radius: 50%;
      z-index: 2;
    }

.table1-second-circ
    {
      width: 3.2rem;
      height: 3.2rem;
      background-color: #fff;
      position: absolute;
      top: -7%;
      left: 39%;
      border-radius: 50%;
      border: 0.1rem solid #c2c2c2;
    }

.pricing-table1 p:nth-child(3)
    {
      box-sizing: border-box;
      color: #24ba9f;
      text-transform: uppercase;
      background-color: #f9f9f9;
      height: 12.5rem;
      text-align: center;
      padding: 1.875rem 0 0 0;
      font-size: 1.6rem;
      font-weight: 500;
    }

.price1-circle
    {
      display: block;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      border: 0.125rem solid #d9d9d9;
      position: absolute;
      top: 19%;
      left: 32%;
    }

.pricing-table1 p:nth-child(5)
    {
      color: #c0c0c0;
      font-weight: 700;
      text-align: center;
      font-size: 2.5rem;
      width: 6.875rem;
      position: absolute;
      top: 23%;
      left: 27%;
    }

.pricing-table1 .sup1
    {
      color: #c0c0c0;
      font-size: 0.875rem;
      position: absolute;
      top: 5%;
      left: 70%;
    }

.price1-pln
    {
      font-size: 0.875rem;
      text-transform: uppercase;
      position: absolute;
      top: 95%;
      left: 25%;
    }

.pricing-table1 p:nth-child(6)
    {
      color: #9a9a9a;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #e4e4e4;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table1 p:nth-child(7)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #f1f1f1;
      height: 1.875rem;
      line-height: 1.875rem;
    }


.pricing-table1 p:nth-child(8)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      background-color: #f9f9f9;
      height: 6.875rem;
    }

.table1-join
    {
      text-decoration: none;
      text-transform: uppercase;
      background-color: #24ba9f;
      border-radius: 8%;
      color: #fff;
      padding: 0.5rem 1.56rem 0.5rem 1.56rem;
      font-size: 0.875rem;
      line-height: 8.875rem;
    }

/* Standard plan */

.pricing-table2
    {
        box-sizing: border-box;
        border: 0.125rem solid #24ba9f;
        list-style-type: none;
        width: 17.5rem;
        margin: 4rem auto 0 auto;
        position: relative;
    }

.table2-first-circ
    {
      width: 1.6rem;
      height: 1.6rem;
      background-color: #fff;
      position: absolute;
      top: -3.2%;
      left: 44.2%;
      border-radius: 50%;
      z-index: 2;
    }

.table2-second-circ
    {
      width: 3.2rem;
      height: 3.2rem;
      background-color: #24ba9f;
      position: absolute;
      top: -6.5%;
      left: 39%;
      border-radius: 50%;
      border: 0.1rem solid #24ba9f;
    }

.pricing-table2 p:nth-child(3)
    {
      box-sizing: border-box;
      color: #fff;
      text-transform: uppercase;
      background-color: #24ba9f;
      height: 12.5rem;
      text-align: center;
      padding: 1.875rem 0 0 0;
      font-size: 1.6rem;
      font-weight: 500;
    }

.price2-circle
    {
      display: block;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      border: 0.125rem solid #d9d9d9;
      background-color: #fff;
      position: absolute;
      top: 19%;
      left: 32%;
    }

.pricing-table2 p:nth-child(5)
    {
      color: #24ba9f;
      font-weight: 700;
      text-align: center;
      font-size: 2.5rem;
      width: 6.875rem;
      position: absolute;
      top: 23%;
      left: 26%;
    }

.pricing-table2 .sup2
    {
      color: #24ba9f;
      font-size: 0.875rem;
      position: absolute;
      top: 5%;
      left: 70%;
    }

.price2-pln
    {
        font-size: 0.875rem;
        text-transform: uppercase;
        position: absolute;
        top: 95%;
        left: 25%;
    }

.pricing-table2 p:nth-child(6)
    {
      color: #9a9a9a;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #fff;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table2 p:nth-child(7)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #f1f1f1;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table2 p:nth-child(8)
    {
      color: #9a9a9a;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #fff;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table2 p:nth-child(9)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #24ba9f;
      height: 6.875rem;
    }

.table2-join
    {
      text-decoration: none;
      text-transform: uppercase;
      background-color: #fff;
      border-radius: 8%;
      color: #24ba9f;
      padding: 0.5rem 1.56rem 0.5rem 1.56rem;
      font-size: 0.875rem;
      line-height: 8.875rem;
    }

/* Advanced plan */

.pricing-table3
    {
      box-sizing: border-box;
      border: 0.125rem solid #d9d9d9;
      list-style-type: none;
      width: 17.5rem;
      margin: 4rem auto 0 auto;
      position: relative;
    }

.table3-first-circ
    {
      width: 1.6rem;
      height: 1.6rem;
      background-color: #c2c2c2;
      position: absolute;
      top: -3.2%;
      left: 44.2%;
      border-radius: 50%;
      z-index: 2;
    }

.table3-second-circ
    {
      width: 3.2rem;
      height: 3.2rem;
      background-color: #fff;
      position: absolute;
      top: -6.3%;
      left: 39%;
      border-radius: 50%;
      border: 0.1rem solid #c2c2c2;
    }

.pricing-table3 p:nth-child(3)
    {
      box-sizing: border-box;
      color: #24ba9f;
      text-transform: uppercase;
      background-color: #f9f9f9;
      height: 12.5rem;
      text-align: center;
      padding: 1.875rem 0 0 0;
      font-size: 1.6rem;
      font-weight: 500;
    }

.price3-circle
    {
      display: block;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      border: 0.125rem solid #d9d9d9;
      position: absolute;
      top: 19%;
      left: 32%;
    }

.pricing-table3 p:nth-child(5)
    {
      color: #c0c0c0;
      font-weight: 700;
      text-align: center;
      font-size: 2.5rem;
      width: 6.875rem;
      position: absolute;
      top: 23%;
      left: 27%;
    }

.pricing-table3 .sup3
    {
      color: #c0c0c0;
      font-size: 0.875rem;
      position: absolute;
      top: 5%;
      left: 75%;
    }

.price3-pln
    {
      font-size: 0.875rem;
      text-transform: uppercase;
      position: absolute;
      top: 95%;
      left: 25%;
    }

.pricing-table3 p:nth-child(6)
    {
      color: #9a9a9a;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #e4e4e4;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table3 p:nth-child(7)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #f1f1f1;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table3 p:nth-child(8)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #e4e4e4;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table3 p:nth-child(9)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #f1f1f1;
      height: 1.875rem;
      line-height: 1.875rem;
    }

.pricing-table3 p:nth-child(10)
    {
      color: #939393;
      font-weight: 700;
      text-align: center;
      font-size: 1rem;
      background-color: #f9f9f9;
      height: 5rem;
    }

.table3-join
    {
      text-decoration: none;
      text-transform: uppercase;
      background-color: #24ba9f;
      border-radius: 8%;
      color: #fff;
      padding: 0.5rem 1.56rem 0.5rem 1.56rem;
      font-size: 0.875rem;
      line-height: 5.3rem;
    }

/* section 4 */

.container4
    {
      width: 100%;
      margin: 0 auto;
    }

.inputs
    {
        width: 15.5rem;
        height: 1.5rem;
        border: 0.1rem solid #24ba9f;
        margin: 1rem auto 0 auto;
        font-size: 1rem;
        padding: 0 0 0 1.25rem;
        color: #939393;
        display: block;
    }

.input-text
    {
      width: 15.5rem;
      border: 0.1rem solid #24ba9f;
      margin: 1rem auto 0 auto;
      font-size: 1rem;
      padding: 0.3rem 0 9.3rem 1.25rem;
      color: #939393;
      display: block;
    }

.form-tab1
    {
      width: 100%;
      margin: 0 auto;
    }

.form-tab2
    {
      width: 100%;
    }

.form-ok
    {
      background-image: url("../images/form_ok.jpg");
      background-position: center;
      background-repeat: no-repeat;
      border: 0.1rem solid #24ba9f;
      margin: 1rem auto 0 auto;
      width: 2rem;
      height: 2rem;
    }

.agree
    {
      color: #939393;
      font-size: 0.9rem;
      width: 15rem;
      text-align: center;
      margin: 0 auto;
    }

.red-chair
    {
        background-image: url("../images/red_chair.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 14rem;
        height: 13rem;
        margin: 0 auto;
    }

.send
    {
      width: 13.5rem;
      height: 3.69rem;
      margin: 2rem auto 0 auto;
      border-radius: 8%;
      background-color: #24ba9f;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25rem;
      display: block;
    }

/* footer */

footer
    {
      margin: 5rem 0 0 0;
    }

.copyright
    {
      color: #8f8f8f;
      text-align: center;
    }

.container5
    {
        width: 100%;
        height: 5.25rem;
        padding: 4rem 0 0 0;
    }

.social
    {
      text-align: center;
    }

.sit-on-chair
{
  color: #8f8f8f;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
}

.on3
{
  font-weight: 700;
}













.application {
  background-color: #f9f9f9;
  padding:30px 0;
}
.application h3 {
  color: #575757;
  font-size: 18px;
}

.application header.align_right{
  text-align: right;
}


.inline {
  display:inline-block;
  width:300px;
  padding:14px;
  vertical-align: top;
}


.form {
  margin-top:50px;
}
.drop_down_list {
  border:1px solid #8de0d2;
  width: 280px;
  height:38px;
  background-color: white;
  margin-top:22px;
  padding: 8px 12px;
  position: relative;
}

.list_label {
  font-size: 30px;
  color: #e2e2e2;
  font-family: 'ralewaylight', Arial, Tahoma, sans-serif;
}


.checkbox {
  position: relative;
  padding: 30px 30px 30px 0;
}
.checkbox input {
  display: block;
  opacity: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  cursor: pointer;
}

.checkbox label {
  display: block;
  padding-left: 65px;
  position: relative;
  font-size: 28px;
  color: #cecece;
  line-height: 120%;
  padding-top: 10px;
  cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
  border: 1px solid #27c7ab;
  content: "";
  display: block;
  left: 0;
  height: 48px;
  position: absolute;
  width: 48px;
  top: 0;
}
.checkbox label::after {
  background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
  border: 0;
  display: none;
}

.checkbox input:checked + label::after {
  display: block;
}


.active {
  background: url('../images/form_ok.jpg');
  width: 48px;
  height: 40px;

}
.inline_text {
  display: inline-block;
  width: 228px;
  vertical-align: top;
  margin-top: 30px;
  margin-left: 15px;
  color: #aeaeae;
}
.image_part img{
  margin-top: 110px;
  margin-left: 38px;
}


.application .green_bell {
  background-color: #24baa0;
  width: 200px;
  height: 6px;
  display: inline-block;
  margin: 5px 0 5px 0;
}

.summary_panel {
  background-color: white;
  width:100%;
  height:195px;
  padding:10px;
  margin-top: 50px;

}

.application .green_button {
  background-color: #27c7ab;
  color: white;
  text-align:center;
  text-transform: uppercase;
  width: 200px;
  padding: 10px 30px;
  font-size: 24px;
  display: inline-block;
  font-family: 'ralewaymedium', Arial, Tahoma, sans-serif;
  margin-top: 20px;
  margin-left: 29px;
  border-radius: 8px;
  text-decoration: none;
}
.panel_left {
  display: inline-block;
  width: 185px;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_right {
  display: inline-block;
  width: 100px;
  border-left:1px solid #e7e7e7;
  text-align: right;
  vertical-align: top;
  padding-bottom:10px;
  border-bottom:1px solid #e7e7e7;
  height: 135px;
}

.panel_left h4 , .panel_right h4{
  color: #24baa0;
  font-size: 23px;
}

.panel_left span{
  margin-top:10px;
  font-size: 22px;
  color: #5b5a5a;
  display: block;
}

.panel_right span {
  display: block;
  font-size: 22px;
  color: #24baa0;
  margin-top:10px;
}
.sum_label{
  display: inline-block;
  width: 185px;
  margin-top: 10px;
  font-size: 22px;
  color: #5b5a5a;
}

.sum {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top: 10px;
  font-size: 22px;
  color: #24baa0;
}

.list_arrow {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #24baa0;
  display:block;
  position: absolute;
  right: 14px;
  top: 20px;
  cursor: pointer;
}

.list_panel {
  background-color: white;
  border: 1px solid #ccc;
  width: 288px;
  padding-left: 15px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0;
  left: 0px;
  z-index: 2;
  position: absolute;
  top: 54px;
  display:none;
}
.list_panel li {
  margin-top:10px;
  cursor: pointer;
  color: #585858;
}

.title {
  height: 30px;
}

@media (min-width: 340px) and (max-width: 640px)
{

  .logo
    {
      font-size: 0.9rem;
      margin: 1rem 0 0 0;
    }

  .first-list li
    {
      margin: 1rem 0 0 0.6rem;
      font-size: 0.9rem;
    }

}

@media (min-width: 640px) /*and (max-width: 800px)*/
  {
    .logo
      {
        margin: 0.9rem 0 0 2.5rem;
        font-size: 1.1rem;
      }

    .first-list li
        {
            margin: 0.9rem 3.75rem 0 0;
            font-size: 1.1rem;
        }

    .arrows
      {
        width: 2.2rem;
        height: 2.2rem;
      }

    .block1, .block2
      {
        width: 50%;
        float: left;
      }

    .image1
      {
        width: 37.5rem;
        height: 25rem;
        margin: 2.5rem 0 0 2.5rem;
      }

    h2
      {
        margin: 6.5rem 0 0 0.6rem;
        font-size: 2.3rem;
      }

    .text-block
      {
        width: 55%;
        margin: 1.9rem 0 0 0;
      }

    .text1
      {
        font-size: 0.9rem;
        text-align: center;
        margin: 2.5rem 0 3.1rem 0;
      }

    .prev
      {
        position: absolute;
        right: left%;
        top: 45%;
      }

    .next
      {
        position: absolute;
        right: 5%;
        top: 45%;
      }

    .more
        {
            padding: 0.8rem 2.5rem 0.8rem 2.5rem;
        }

    .image-block1
        {
            clear: both;
            width: 30%;
            height: 15.6rem;
            background-image: url("../images/box1_img.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            float: left;
            margin: 0 0.625rem 0 2.625rem;
            border: 0.1rem solid #d9d9d9;
            position: relative;
        }

    .image-block2
        {
            width: 30%;
            height: 15.6rem;
            background-image: url("../images/box2_img.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            float: left;
            margin: 0 0.625rem 0 0.625rem;
            border: 0.1rem solid #d9d9d9;
            position: relative;
        }

    .transparent-line1, .transparent-line2
        {
            width: 40%;
        }

    .text3-block
        {
            width: 30%;
            height: 15.6rem;
            float: left;
            border: 0.1rem solid #d9d9d9;
            margin: 0 2.5rem 0 0.6rem;
            text-align: left;
            padding: 0;
        }

    .container2
        {
            height: 18.75rem;
            margin: 1.875rem 0 0 0;
        }


    .line1
        {
            width: 30%;
        }

    .container3
        {
            height: 47rem;
        }

    h3
        {
            padding: 2.8rem 0 0 2.5rem;
        }

    .line2
        {
            width: 15%;
            margin: 0.3rem 0 0 2.5rem;
        }

    .pricing-table1, .pricing-table2, .pricing-table3
        {
            width: 25%;
            height: 31.5rem;
            margin: 5rem 0 0 5rem;
            float: left;
        }

    .table1-first-circ, .table2-first-circ, .table3-first-circ
        {
            width: 1.875rem;
            height: 1.875rem;
            top: -4%;
            left: 45%;
        }

    .table1-second-circ, .table2-second-circ, .table3-second-circ
        {
            width: 3.75rem;
            height: 3.75rem;
            top: -7%;
            left: 40%;
        }

    .pricing-table1 p:nth-child(3), .pricing-table2 p:nth-child(3), .pricing-table3 p:nth-child(3)
        {
            height: 15.625rem;
            padding: 2.2rem 0 0 0;
            font-size: 1.9rem;
        }

    .price1-circle, .price2-circle, .price3-circle
        {
            width: 7.5rem;
            height: 7.5rem;
            top: 19%;
            left: 30%;
        }

    .pricing-table1 p:nth-child(5), .pricing-table2 p:nth-child(5), .pricing-table3 p:nth-child(5)
        {
            font-size: 2.75rem;
            width: 6.875rem;
            top: 25%;
            left: 31%;
        }

    .price1-pln, .price2-pln, .price3-pln
        {
            top: 95%;
            left: 23%;
        }

    .pricing-table1 p:nth-child(6), .pricing-table1 p:nth-child(7), .pricing-table2 p:nth-child(6), .pricing-table2 p:nth-child(7), .pricing-table2 p:nth-child(8), .pricing-table3 p:nth-child(6), .pricing-table3 p:nth-child(7), .pricing-table3 p:nth-child(8), .pricing-table3 p:nth-child(9)
        {
            font-size: 1.375rem;
            height: 2.5rem;
            line-height: 2.5rem;
        }

    .pricing-table1 p:nth-child(8)
        {
            height: 10.625rem;
        }

    .pricing-table2 p:nth-child(9)
        {
            height: 8.125rem;
        }

    .pricing-table3 p:nth-child(10)
        {
            height: 5.625rem;
        }

    .table1-join
        {
            line-height: 16.875rem;
        }

    .table2-join
        {
            line-height: 11.875rem;
        }

    .table3-join
        {
            line-height: 6.875rem;
        }

    .pricing-table3 .sup3
        {
            left: 79%;
        }


    .container4
        {
            height: 26.25rem;
        }

    .inputs
        {
            width: 40rem;
            height: 3.1rem;
            margin: 2.5rem 0 0 2.5rem;
            font-size: 1.9rem;
            padding: 0 0 0 1.25rem;
        }

    .input-text
        {
            width: 40rem;
            margin: 2.5rem 0 0 2.5rem;
            font-size: 1.9rem;
            padding: 0.5rem 0 9.3rem 1.25rem;
        }

    .form-tab1
        {
            float: left;
            width: 63%
        }

    .form-tab2
        {
            float: left;
            width: 31%;
        }

    .form-ok
        {
            margin: 0;
            float: left;
        }

    .red-chair
        {
            margin: 0 auto 2.8rem auto;
        }

    .agree
        {
            font-size: 1.125rem;
            width: 20rem;
            margin: 0rem 0 0 1rem;
            text-align: left;
            float: left;
        }

    .send
        {
            clear: both;
            width: 21.9rem;
            height: 4.69rem;
            margin: 2.9rem 0 0 0;
            font-size: 2.25rem;
            display: inline;
        }

    footer
        {
            margin: 0;
            clear: both;
            height: 6.25rem;
        }

    .copyright
        {
            float: left;
            padding: 4.69rem 0 0 2.5rem;
            width: 55%;
            text-align: left;
        }

    .container5
        {
            width: 40%;
            height: 6.25rem;
            padding: 4rem 0 0 0;
            float: left;
        }

    .social
        {
            float: left;
            margin: 0 0 0 4.3rem;
        }

    .sit-on-chair
        {
            float: left;
            font-size: 1.25rem;
            margin: 0.3rem 0 0 5rem;
            text-align: left;
        }

  }
